<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta ride="viewport" content="width=device-width, initial-scale=1.0">

    <title>RIDES CRUD APP</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- jQUERY -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" href="css/main.css">

  </head>

  <body>
    <div>
      <div class="container">

        <div class="col-md-12">

          <!-- NICE TITLE SPACE -->
          <h1 class="titles">RATING THEME PARKS RIDES</h1>

          <!-- GIVES A NICE BORDER AROUND APPLICATION -->
          <div class="card card-body">

            <!-- FORM WRAPPER & BUTTON -->
            <button class="btn btn-sm btn-primary" id="add-ride"> ADD RATING </button>

            <!-- FORM THAT WILL BE HIDDEN UPON INITIAL DISPLAY -->
            <div class="form-wrapper hidden">

              <!-- LABEL COLUMN FOR THEME PARK -->
              <label for=""> Theme Park </label>
              <select id="park-name" class="form-control">
                <option value="">Please Select</option>
                <option value="Disneyland"> Disneyland </option>
                <option value="Knotts Berry Farm"> Knotts Berry Farm </option>
                <option value="Magic Mountain"> Magic Mountain </option>
                <option value="Universal Studios"> Universal Studios </option>
              </select>

              <!-- LABEL COLUMN FOR RIDE -->
              <label for=""> Ride </label>
              <input type="text" class="form-control" id="ride-name" placeholder="Splash Mountain, It's a Small World, Log Ride">
              
              <!-- LABEL COLUMN FOR RATING -->
              <label for=""> Ratings </label>
              <input type="number" class="form-control" id="ride-rating" placeholder="1 through 10" min="1" max="10">
              
              <!-- BUTTON TO ADD ROW TO TABLE -->
              <div id="add-to-table">
                <button class="btn btn-sm btn-danger cancel-button" id="cancel"> Cancel </button>
                
                <button class="btn btn-sm btn-info" id="create-ride"> Add To Table </button>
              </div>
              
            </div>

            <!-- TABLE DATA -->
            <table>
              <thead>
                <tr>
                  <th scope="col"> THEME PARK</th>
                  <th scope="col"> RIDE </th>
                  <th scope="col"> RATING </th>
                </tr>
              </thead>
              <tbody id="ride-table">
              <%if (rides.length > 0){ %>
                        <% rides.forEach(function(row){ %>
                        <tr id="<%= row._id %>-container%>">
                          <td><%= row.park %></td>
                          <td><%= row.ride %></td>
                          <td data-testid="<%= row.rating %>" id="rating-<%= row._id %>" class="rating">
                            <span class="alignMe_1"><%= row.rating %></span> 
                            <input style="visibility: hidden;" 
                              type="number" id="edit-<%= row._id %>" 
                              class="rating form-control alignMe_2"
                              data-testid="edit-<%= row._id %>">
                          </td>

                          <td>
                             <button class="btn btn-sm btn-danger delete-button"
                               data-testid='delete-<%= row._id%>'
                               id="delete-<%= row._id%>"> Delete
                             </button>

                             <button class="btn btn-sm btn-info save-button"
                               disabled
                               data-testid="save-<%= row._id%>"
                               id="save-<%= row._id%>"> Save
                             </button>

                             <button class="btn btn-sm btn-danger hidden cancel-button"
                               data-testid="cancel-<%= row._id%>"
                               id="cancel-<%= row._id%>"> Cancel
                             </button>

                             <button class="btn btn-sm btn-primary hidden confirm-button"
                               data-testid="confirm-<%= row._id%>"
                               id="confirm-<%= row._id%>"> Confirm
                             </button>
                           </td>
                        </tr>
                        <% })}else{ %>
                          <tr>
                              <td colspan="6">No Rides Found</td>
                            </tr>
                          <% } %>
                <!-- BODY OF TABLE THAT IS BEING CALLED FROM JAVASCRIPT -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>